/* -- Loading Bar -- */

.bar {
    background-color: #2E9373 !important;
    color: #2E9373 !important;
}


/* -- Body -- */

body {
    overflow: hidden;
    nav ul li {
        float: none;
    }
    a:focus {
        outline: none !important
    }
    button:focus {
        outline: none !important
    }
    input:-webkit-autofill {
        box-shadow: 0 0 0 1000px white inset;
        &:hover,
        &:focus {
            box-shadow: 0 0 0 1000px white inset;
        }
    }
    /* -- Animations -- */
    .animate-hide-left {
        -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        opacity: 1;
        left: 0;
    }
    .animate-hide-left.ng-hide {
        left: -100%;
        opacity: 0;
        padding: 0 10px;
    }
    .animate-hide-right {
        -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        opacity: 1;
        right: 0;
    }
    .animate-hide-right.ng-hide {
        right: -100%;
        opacity: 0;
        padding: 0 10px;
    }
    input[type=text]:focus:not([readonly]) {
        border-bottom: 1px solid #e4e4e4;
        box-shadow: 0 1px 0 0 #e4e4e4;
        font-size: 13px;
    }
    .vertical-rule {
        float: right;
        height: 20px;
        width: 1px;
        background-color: #FFF;
        margin-left: 10px;
    }
}


/* -- Helper classes -- */

.pd10 {
    padding-top: 10px;
}

.btn {
    box-shadow: none;
}

.mt120 {
    margin-top: 120px;
}


/* -- Main Navbar -- */

nav {
    ul a {
        font-size: 15px;
    }
    line-height: 0;
    .dropdown.open .caret {
        border-top: none;
        border-bottom: 4px solid #000000;
    }
}

.main-nav {
    .navbar-nav>li>a {
        color: #000;
    }
    .nav .open>a {
        border-bottom: 4px solid rgba(56, 167, 133, 1) !important;
    }
    .dropdown-toggle {
        &:focus {
            border-bottom: 4px solid #2E9373;
        }
        &:active {
            border-bottom: 4px solid #2E9373;
        }
        font-size: 15px;
        width: 12vw;
    }
    .navbar-right .dropdown-menu {
        right: 0;
        left: 0 !important;
    }
    .dropdown-menu {
        a {
            &:focus {
                color: #2E9373;
            }
            &:hover {
                color: #2E9373;
            }
            color: #9e9e9e;
            font-weight: 300;
            font-size: 15px;
        }
        width: 100%;
    }
    input[type=text] {
        font-size: 13px;
    }
    .search-bar {
        &:focus {
            box-shadow: none;
        }
        width: 30vw !important;
        border: solid #FFF 1px;
        box-shadow: none;
    }
    .search-button {
        &:hover {
            background-color: #FFF;
            color: #000;
        }
        border-style: none !important;
        color: rgb(212, 212, 212);
    }
    .rent:hover {
        border-bottom: 4px solid #2E9373;
    }
    .navbar-brand {
        &:hover {
            background-color: rgba(56, 167, 133, 1) !important;
        }
        .brand-text {
            font-size: 30px;
            font-weight: 900;
        }
        background-color: #2E9373;
        color: #FFF !important;
        height: 64px;
        padding-right: 30px;
        padding-left: 30px;
    }
    letter-spacing: 0.08em;
    font-size: 14px;
    border:none;
    background-color: #FFF;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    border-bottom: 4px solid #2E9373;
    background-color: #FFF;
}

.form-control.hover {
    border-style: none !important;
}

.collapse {
    padding-top: 10px;
}


/* --- Sub Navbar -- */

.sub-navbar {
    .fade-in-out {
        transition: 0.5 linear all;
        opacity: 1;
    }
    .fade-in-out.ng-hide {
        opacity: 0;
    }
    .sub-menu-button {
        &:focus {
            border-bottom: 2px solid #2E9373;
        }
        &:hover {
            border-bottom: 2px solid #2E9373;
        }
        font-size: 12px !important;
        height: 40px;
        border-radius: none !important;
        background-color: #e4e4e4;
    }
    .btn {
        &:focus {
            outline: 0;
        }
        &:hover {
            box-shadow: none;
        }
        border-radius: 0;
        color:#000;
        text-transform: inherit;
    }
    .save-search-btn {
        &:hover {
            background-color: #636363;
        }
        height: 40px;
        background-color: #e4e4e4;
    }
    .btn-group>.btn:first-child {
        margin-left: 0;
        padding: 0;
    }
    .sub-btn {
        &:hover {
            background-color: rgb(99, 99, 99);
        }
        background-color: #E4E4E4;
        height: 40px;
        width: 4vw;
        border-radius: none !important;
    }
    .return-search {
        &:focus {
            outline: 0;
        }
        width: auto;
        background-color: #2e9373;
        color: #fff;
        float: left;
        display: inline-block;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        height: 40px;
        border: none;
    }
    small {
        font-size: 65%;
        vertical-align: middle;
    }
    .glyphicon {
        height: initial;
    }
    .filter-list {
        .btn {
            &:hover {
                background-color: #636363;
            }
            height: 40px;
            color: #000;
            background-color: #e4e4e4;
        }
        .type-filter {
            padding: 10px;
        }
        .dropdown-menu {
            margin: 0;
            padding: 0;
        }
        .dropdown {
            &:after {
                content: '';
                position: absolute;
                width: 1px;
                height: 50%;
                top: 50%;
                right: -1px;
                background-color: #f9f9f9;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                z-index: 1;
            }
        }
        .panel {
            margin-bottom: 0;
        }
        .input-filter {
            &:focus {
                border-bottom: 1px solid #2E9373;
                box-shadow: 0 1px 0 0 #2E9373;
            }
            color: #2E9373;
            font-size: 15px;
        }
        input[type=checkbox] {
            margin: 5px;
            position: relative;
            left: 0;
            bottom: 1px;
            visibility: visible;
            vertical-align: middle;
        }
        label {
            font-size: 12px;
            line-height: 22px;
            width: 100%;
            color: #2E9373;
        }
        display: -webkit-box;
    }
    background-color: rgb(228, 228, 228);
    height: 40px;
    width: 100%;
    position: absolute;
    left: 0px;
    opacity: 0.85;
}


/* --- Side menu -- */

side-menu-box {
    .firstBox {
        margin-top: 120px !important;
    }
}

.side-menu {
    .side-menu-box {
        border: solid rgba(10, 10, 10, 0.2) .5px;
        margin-top: 20px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .address {
        cursor: pointer;
        margin-bottom: 5px;
    }
    .side-menu-description {
        .col-xs-4 {
            padding-left: 5px;
            padding-right: 5px;
            border-right: 1px solid;
            &:last-child {
                border: none;
            }
        }
        margin-bottom: 0;
        margin-top: 10px;
        padding: 5px;
        border-radius: 0;
        font-size:12px;
    }
    .side-menu-price {
        color: #000;
        margin-left: 5px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: bold;
    }
    .side-menu-detail {
        .show-more {
            margin-bottom: 10px;
        }
        a {
            color: #35a785;
        }
        margin-top: 5px;
        font-size: 12px;
    }
    .glyphicon {
        color: #FFF;
        height: initial;
    }
    .down-button {
        width: 100%;
        background-color: #35a785;
        height: 3.5vh;
        bottom: 0;
        text-align: center;
        border: none;
    }
    background-color: white;
    height: 100%;
    overflow: auto;
    position: absolute;
    z-index: 2;
}


/* -- Filter Tags -- */

.tags {
    .btn {
        height: 40px;
        color: #000;
        background-color: #e4e4e4;
        width: 200px;
    }
    .first-tag {
        margin-top: 15px;
    }
    .tag-box {
        &:first-child {
            margin-top: 15px;
        }
        p {
            margin-right: 5px;
        }
        .remove-tag {
            font-size: 14px;
            cursor: pointer;
            color: #2E9373;
            font-weight: bolder;
        }
        .last-rule {
            margin-bottom: 0;
        }
        hr {
            color: #2E9373;
        }
        color: #2E9373;
        font-size: 12px;
    }
    .dropdown-menu {
        padding: 0;
        margin: 0;
        border-radius: 0;
        min-width: 0;
        text-align: center;
    }
    overflow-x: auto;
    display: flex;
    white-space: nowrap;
}
