<div class="sub-navbar">
    <button class="btn sub-btn pull-left filter-button">
        <i class="glyphicon glyphicon-tasks"></i>
    </button>
    <div class="btn-group pull-right">
        <button class="btn sub-menu-button">
            <span class="vertical-rule first-one" style="float:left; margin-right:10px;"></span>
            Busquedas Guardadas <small><</small>
            <span class="vertical-rule"></span>
        </button>
        <button class="btn sub-menu-button">
            Casas Guardadas <small><</small>
            <span class="vertical-rule"></span>
        </button>
        <button class="return-search"> Volver a la búsqueda </button>
        <button class="btn sub-btn"><i class="glyphicon glyphicon-map-marker"></i></button>
        <button class="btn sub-btn" ng-click="showSubMenu = !showSubMenu">
            <i class="glyphicon glyphicon-th-large"></i>
        </button>
    </div>
</div>