<div class="col-xs-6 col-xs-offset-6 saved-houses animate-hide-right user-window" ng-show="showSavedHouses">
    <div class="row mt120">
        <div class="col-xs-8 col-xs-offset-4">
            <div class="back-to-search">
                <button class="btn fade-in-out pull-right" ng-show="$root.inUserWindow" ng-click="home.backToSearch()" ng-if="$root.isAuthenticated">
                     Volver a la búsqueda  
                </button>
            </div>
        </div>
        <div class="col-xs-12 title">
            <h1 class="text-center">Mis casas guardadas</h1>
            <h3 ng-show="showData"> {{ $savedHouseCtrl.savedHouses.length }} Casas</h3>
            <hr>
        </div>
        <div class="col-xs-12" ng-show="showData">
            <div class="house-bg">
                <div class="container house-box-container">
                    <div class="house-box repeat-animation" ng-repeat="house in $savedHouseCtrl.savedHouses">
                        <div class="col-md-6 col-xs-12 house-block" ng-click="$savedHouseCtrl.openHouseDetailModal(house.mlsId)">
                            <div class="house-box-title">
                                <h2>{{house.addressFull}}</h2>
                                <span class="close-box" ng-click="$savedHouseCtrl.removeHouse(house)">X</span>
                            </div>
                            <div class="house-box-price">
                                <h3>${{house.listPrice | number }}</h3>
                            </div>
                            <div class="house-box-img">
                                <img ng-if="house.photo && house.photo != 'N'" class="img-responsive" ng-src="{{house.photo}}" alt="House photo">
                                <img ng-if="!house.photo || house.photo == 'N'" class="img-responsive" ng-src="assets/images/default-house.jpg" alt="House photo">
                            </div>
                            <div class="house-box-desc col-xs-12">
                                <p class="col-xs-4">
                                    {{house.bedrooms}} BA
                                    <span> | </span>
                                </p>
                                <p class="col-xs-4">
                                    {{house.bathrooms}} HA
                                    <span> | </span>
                                </p>
                                <p class="col-xs-4">
                                    {{house.sqft | number }} ft²
                                </p>
                            </div>
                            <div class="house-box-contact">
                                <button class="btn">Contactar agente</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center no-data" ng-show="!showData || $savedHouseCtrl.savedHouses.length == 0">
            <h2 class="sub-title">No hay casas seleccionadas</h2>
            <div class="well">
                <h3>¡No te lo pierdas!</h3>
                <p>Guarda tus casas favoritas así nosotros podemos avisarte si hay algo nuevo!</p>
                <p>Además puedes verlas después o estar al tanto de ellas.</p>
            </div>
        </div>
    </div>
</div>