/* -- Media query vars -- */

$break-small-phone: 320px;
$break-phone: 375px;
$break-phablet: 414px;
$break-tablet: 768px;
$break-desktop: 1200px;

/* -- Modal Detail -- */

.full-screen {
    $text-color: #35a785;
    $background-color: #F8F9FB;
    $border-color: #959595;
    .close-button {
        .detail-button {
            background-color: $background-color;
        }
        background-color: $background-color;
    }
    .vertical-rule {
        float: left;
        height: 25px;
        width: 3px;
        background-color: $text-color;
        margin-right: 10px;
        @media screen and (max-width: $break-phablet) {
            height: 15px;
            width: 1px;
            margin-right: 1px;
            margin-left: 1px;
        }
    }
    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .modal-body {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .modal-content {
        .title {
            h1 {
                font-weight: bolder;
                @media screen and (max-width: $break-phablet) {
                    font-size: 25px;
                }
            }
            margin-top: 15px;
        }
        .price {
            p {
                font-size: 40px;
                font-weight: 100;
                @media screen and (max-width: $break-tablet) {
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                @media screen and (max-width: $break-phablet) {
                    font-size: 20px;
                }
            }
            margin-top: 15px;
        }
        .details {
            .row {
                margin: 0;
            }
            .breaks {
                border-bottom: 1px solid $text-color;
                padding: 0;
                color: $text-color;
                font-weight: bold;
                font-size: 15px;
                @media screen and (max-width: $break-tablet) {
                    font-size: 12px;
                }
                @media screen and (max-width: $break-phablet) {
                    font-size: 10px;
                }
            }
            .detail {
                padding: 0;
            }
            @media screen and (max-width: $break-small-phone) {
                padding: 0;
            }
            display: inline-block;
            width: 100%;
        }
        .info-description {
            h2 {
                color: $text-color;
                font-weight: 100;
                @media screen and (max-width: $break-phablet) {
                    font-size: 20px;
                }
            }
            p {
                @media screen and (max-width: $break-phablet) {
                    font-size: 12px;
                }
            }
            margin-top: 15px;
        }
        .characteristics {
            h2 {
                color: $text-color;
                font-weight: 100;
                @media screen and (max-width: $break-phablet) {
                    font-size: 20px;
                }
            }
            ul li {
                float: left;
                width: 45%;
                list-style-type: disc;
                margin-left: 30px;
                @media screen and (max-width: $break-phablet) {
                    font-size: 12px;
                }
            }
            ul {
                list-style-type: disc;
                margin-left: 1vw;
            }
        }
        .virtual-tour {
            .glyphicon {
                color: $text-color;
                font-size: 20px;
            }
            a {
                &:hover {
                    text-decoration: underline;
                }
                font-size:30px;
                @media screen and (max-width: $break-phablet) {
                    font-size: 20px;
                }
                color: $text-color;
                text-decoration: none;
            }
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .similar-houses {
            .slick-prev:before,
            .slick-next:before {
                color: $text-color;
            }
            .similar-houses-title {
                .well {
                    margin-bottom: 0;
                    font-weight: bold;
                    @media screen and (max-width: $break-small-phone) {
                        font-size: 12px
                    }
                }
            }
            h2 {
                margin-bottom: 25px;
                color: $text-color;
                @media screen and (max-width: $break-phablet) {
                    font-size: 20px;
                }
            }
            .similar-houses-box {
                margin-left: 10px;
                margin-right: 10px;
            }
            .similar-houses-price {
                h4 {
                    margin-bottom: 0;
                    @media screen and (max-width: $break-phablet) {
                        font-size: 15px;
                    }
                }
                border: 1px solid $border-color;
                padding: 5px;
            }
            .similar-houses-desc {
                p {
                    margin-bottom: 0;
                    padding-left: 5px;
                    padding-right: 5px;
                    position: relative;
                    @media screen and (max-width: $break-phablet) {
                        font-size: 10px;
                    }
                }
                .vertical-rule {
                    position: absolute;
                    top: 0;
                    right: -5px;
                    height: 20px;
                    @media screen and (max-width: $break-phablet) {
                        width: 1px;
                    }
                    @media screen and (max-width: $break-phone) {
                        right: 0px;
                    }
                }
                padding: 5px;
                border: 1px solid $border-color;
                display: inline-block;
            }
            margin-top: 15px;
        }
        .house-save {
            background-color: $text-color;
            margin-top: 20px;
            margin-bottom: 20px;
            @media screen and (max-width: $break-phablet) {
                font-size: 9px;
            }
        }
        .description {
            overflow-y: auto;
            padding-left: 55px;
            padding-right: 40px;
            padding-top: 25px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            background-color: $background-color;
            @media screen and (max-width: $break-tablet) {
                padding: 10px;
            }
        }
        height: auto;
        min-height: 100%;
        border-radius: 0;
        background-color: transparent;
    }
    .images {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        padding-left: 30px;
        padding-top: 15px;
    }
    width:100%;
}